body {
    background-color: #ff9d76;
}
.flex-container > *:hover {
    background-color: rgb(226, 198, 43);
}

.flex-container {
    flex-direction: row;
}
.nowrap {
    flex-wrap: nowrap;
}
.wrap {
    flex-wrap: wrap;
}
.reverse {
    flex-wrap: wrap-reverse;
}